
/*Class: CPSC 473
Author: Dayna Anderson
Assignment: 2*/

table{
    display: inline-block;
    border: 1px solid black;
    border-collapse: collapse;
}
#studentSearch{
    margin: 50px;
}

tr, td, th{
    border: 1px solid black;
}
#lnSearch{
    width:125px;
}
#lnSearchHeader{
    padding: 30px;
}
td{
    padding:20px;
}
#studentSearch label{
    font-weight: bold;
}